.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 4;
  color: white;
}
.mainbackground2 {
  position: fixed;
  top: 10%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
      at 100% 0%,
      rgb(0, 31, 204) 10px,
      transparent 30%
    ),
    radial-gradient(at 50% 0%, rgb(27, 42, 255) 0px, transparent 30%),
    radial-gradient(at 0% 0%, rgb(0, 120, 248) 0px, transparent 30%),
    radial-gradient(at 500% 50%, rgb(0, 201, 167) 0px, transparent 50%),
    radial-gradient(at 50% 50%, rgb(38, 84, 211) 0px, transparent 30%),
    radial-gradient(at -100% 50%, rgb(0, 123, 255) 0px, transparent 50%),
    radial-gradient(at 0% 60%, rgb(0, 196, 163) 0px, transparent 30%),
    radial-gradient(at 50% 60%, rgb(58, 253, 185) 0px, transparent 30%),
    radial-gradient(at 100% 60%, rgb(0, 123, 255) 0px, transparent 30%);
  filter: blur(100px) saturate(240%);
  opacity: 0.5;
}
.mainbackground {
  position: fixed;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0;
  color: invert(1);
  background-color: #000000;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
